*{
	margin:0;
	padding:0;
}	

h3{
	font-family:arial;
	color:gray;
	text-align:center;
}	

.input-group-text{
	background-color:#f9f9f9;
	color:gray;
}	

.subbut{
	color:#fff;
	text-align:center;
	font-size:18px;
	border:1px solid #fff;
	font-family:arial;
	width:150px;
	text-decoration:none;
	border-radius:30px;
	background-color:#009999;
	padding:8px;
	height:45px;
	font-weight:bold;
}

input[type=checkbox]{
	width:13px;
	height:13px;
}	

.p1{
	color:#00ccff;
}

@media(max-width:991px){
	.subbut{
		width:60%;
		margin:0;
		padding-left:0;
	}
}	