body{
	font-family:roboto;
}

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

.conta1{
	max-width:1560px;
}

.img-fluid{
	width:100%;
	height:360px;
	opacity:1;
	justify-content:center;
}


a{
	text-decoration:none;
}

ul{
	list-style:none;
}

.header{
	background-color:#767778;
	padding:7px 0;
	position:relative;
}

.cont_6{
	max-width:1560px;
	margin:auto;
}

ul li a.active{
  color: #fff;
  text-align: center;
  font-size:16px;
  font-family: arial;
  border-radius: 30px;
  width: 90px;
  height:35px;
  border:1px solid #fff;
  background-color:#29626d;
}

ul li a.active1{
  color: #fff;
  text-align: center;
  font-size:16px;
  font-family: arial;
  border-radius: 30px;
  width: 139px;
  height:35px;
  border:1px solid #fff;
  background-color:#767778;
  }

ul li a.active2{
  color: #fff;
  text-align: center;
  font-size:16px;
  font-family: arial;
  width: 69px;
  border:1px solid transparent;
  background-color:#767778;
}

ul li a.active3{
  color: #fff;
  text-align: center;
  font-size:16px;
  font-family: arial;
  border-radius: 30px;
  width: 139px;
  height:35px;
  border:1px solid #fff;
  background-color:#29626d;
  }

.align-items-center{
	align-items:center;
}

.justify-content-between{
	justify-content:space-between;
}

.header .logo img{
	float: left;
	top:7px;
	color:white;
	padding-left:8px;
	width:100px;
	height:57px;
}

.row{
	display:flex;
	flex-wrap:wrap;
}

.header .nav ul li{
	display:inline-block;
	margin-left:30px;
}

.header .logo img,.header .nav{
	padding:0px 10px;
}

.header .nav ul li a{
	display:block;
	font-size:14px;
	padding:6px 10px;
	color:white;
	text-align:center;
}

.header .nav ul li a:hover{
	text-decoration: none;
}

.header #nav-check{
	position:absolute;
	opacity:0;
	pointer-events:none;
}

.nav-toggler{
	height:34px;
	width:44px;
	background-color:#767778;
	border-radius:4px;
	cursor:pointer;
	display:none;
	align-items:center;
	justify-content:center;
	margin-right:15px;
}

.nav-toggler span{
	display:block;
	height:2px;
	width:30px;
	background-color:#fff;
	position:relative;
}

.nav-toggler span::before, .nav-toggler span::after{
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background-color:#fff;
	left:0;
}

.nav-toggler span::before{
	top:-6px;
}

.nav-toggler span::after{
	top:6px;
}


.cont_1{
	max-width:1560px;
}

.btn{
	width: 500px;
	font-size: 20px;
	word-spacing: 5px;
}
.card{
	border:none;
}
.accordion .btn{
	background: #1d7a8c;
	color: #fff ;
	border-bottom: 4px solid #1d7a8c;
}

.accordion .btn.collapsed{
	background: #f6f6f6;
	color: #646464 ;
}

.text1{
	font-size: 20px;
	line-height: 40px;
	text-decoration: none;
	color:#646464;
	font-weight: 550;
}
.card-body a:hover{
	text-decoration: none;
	color: #646464;
}

.text2{
	font-size: 18px;
	padding-left: 30px;
	color:#646464;
}

@media(max-width:991px){
	.nav-toggler{
		display:flex;
	}
	.header .nav{
		position:absolute;
		left:0;
		top:100%;
		width:100%;
		background-color:#767778;
		border-top:1px solid rgba(255,255,255,0.2);
		opacity:0;
		visibility:hidden;
	}
	.header .nav ul li{
		display:block;
		padding: 6px;
		margin:0;
	}
	.header #nav-check:checked ~ .nav{
		opacity:1;
        visibility:visible;
	}
	.header #nav-check:focus ~ .nav-toggler{
        box-shadow:0 0 15px #000000;
	}
	.header #nav-check:checked ~ .nav-toggler span{
		background-color:transparent;
	}
	.header #nav-check:checked ~ .nav-toggler span::before{
		top:0;
		transform:rotate(45deg);
	}
    .header #nav-check:checked ~ .nav-toggler span::after{
		top:0;
		transform:rotate(-45deg);
	}

	.btn{
		width: 250px;
	}
	.text1{
		font-size: 16px;
		line-height: 30px;
		text-align: justify;
	}
	.text2{
		font-size: 14px;
		padding: 0;
		left: 0;
	}

}


.cont_3{
	max-width:1560px;
	background-color:black;
	padding:6px;
}

.row{
	padding-top:20px;
	text-align:center;
}

ul li{
	list-style:none;
	display:inline-block;
}

ul li a{
	color:white;
	font-family:arial;
	font-size:15px;
	padding:10px;
}

.copyright{
	text-align:center;
	font-family:arial;
	font-size:12px;
	color:#9BA0A3;
}

.logo_2 {
	padding:5px;
	width:30px;
	height:30px;
}

.logo_1{
	width:90px;
	height:60px;
}

.d1{
  color: black;
  text-align: left;
  font-size: 17px;
  text-decoration:none;
  font-family: arial;
  border-radius: 30px;
  width: 290px;
  border:1px solid black;
  background-color: #f9f9f9;
  padding:8px;
  height:45px;
}

.d2{
  color: black;
  text-align: center;
  font-size: 17px;
  border:1px solid #fff;
  font-family: arial;
  color: #fff;
  width:100px;
  text-decoration:none;
  border-radius: 30px;
  background-color: #ff8533;
  padding:8px;
  height:45px;
}

.cont1{
	max-width:1560px;
}



@media(max-width:991px){
	ul li{
		display:inline-block;
		margin:0;
		padding-left:0;
		padding-top:20px;
		text-align:center;
		top:100%;

	}

	hr{
		visibility:hidden;
	}
	.d1{
		width:60%;
		font-size: 12px;
		margin:0;
		height: 35px;
		padding-left:0;
	}
	.d2{
		font-size: 12px;
		margin:0;
		height: 35px;
		padding-left:0;
	}

	.para-1{
		font-size: 15px;
	}

}

h6{
	font-family:arial;
	color:#4f4f4f;
	font-weight:550;
	text-align:center;
}

h2{
	font-family:arial;
	color:#4f4f4f;
	text-align:center;
}

.para-1{
	text-align:center;
	font-family:arial;
	font-size:19px;
	word-spacing:1px;
	letter-spacing:0.4px;
}


	@media(max-width:768px){
		.img-fluid{
			display: none;
		}

	}
